@model IEnumerable<Prism.Models.PriceHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Price History</h2>

<p>
   
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateInserted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellingPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateInserted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellingPrice)
        </td>
        
    </tr>
}

</table>
