<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PRISM</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/dataTable")*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PRISM", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                    <li>@Html.ActionLink("Supply", "Index", "SupplyCart")</li>
                    <li>@Html.ActionLink("Expenses", "Index", "Expense")</li>

                    @*
                    @if (User.IsInRole("Admin"))
                    {   *@


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Link<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Company", "Index", "Company")</li>
                                <li>@Html.ActionLink("Section", "Index", "Section")</li>
                                <li>@Html.ActionLink("Department", "Index", "Department")</li>
                                <li>@Html.ActionLink("Positions", "Index", "Position")</li>
                                <li>@Html.ActionLink("Users", "Index", "UserAdmin")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Customers<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
                                <li>@Html.ActionLink("S.Customers", "Index", "SupplyCustomer")</li>
                                <li>@Html.ActionLink("Payment", "Index", "SupplyPayment")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Products<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Products", "Index", "Product")</li>
                                <li>@Html.ActionLink("Product Variants", "Index", "ProductVariant")</li>
                                <li>@Html.ActionLink("Stock In", "Index", "StockIn")</li>
                                <li>@Html.ActionLink("Stock", "Index", "StockBalance")</li>
                            </ul>
                        </li>
                    @*}*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - PRISM (LOIS Stores)</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)


    @*@Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")*@
</body>
</html>
