@model IEnumerable<Prism.Models.Expense>

@{
    ViewBag.Title = "Expenses for ";
}

<h2>Expense List for @ViewBag.Date</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-sm-3 col-md-3 pull-right">
    <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="date" class="form-control" placeholder="Pick a Date" name="date" id="date">
            <div class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Purpose)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.Fullname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Purpose)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.Fullname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpenseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExpenseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExpenseID })
        </td>
    </tr>
}

</table>
