@model Prism.Models.StockIn

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StockIn</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
